mixin slider()
    .slider
        .slider__desc
            h3.slider__title range slider
            span.slider__amount
                span.slider__amount-min 
                span.slider__amount-max
        input.slider__item(type="text", name="")
