mixin slider(title)
    .slider
        .slider__desc
            h3.slider__title #{title}
            span.slider__amount
                span.slider__amount-min 
                span.slider__amount-max
        input.slider__item(type="text", name="")
