@import '__variables'
@import '~ion-rangeslider/css/ion.rangeSlider.css'
@import '~air-datepicker/dist/css/datepicker.css'

*,*::after,*::before
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: $body-font-size

body
    font-family: $font-family
    color: $text-color
    font-weight: 400
    // letter-spacing: .1rem

a
    cursor: pointer
    text-decoration: none

button
    cursor: pointer
    font-family: $font-family
    background: transparent
    border: none


ul
    list-style: none

h1, h2, h3
    
    color: $headline-color
    font-weight: 700

h1
    font-size: 2.4rem
h2
    font-size: 1.9rem
h3
    font-size: 1.2rem
    text-transform: uppercase

.ui-headline
    margin: 20px 0

.fullscreen
    display: grid
    height: 100vh
    grid-template-rows: auto 1fr

.container
    width: 80%
    margin: 0 auto

.modal-container
    display: inline-block
    padding: 40px 30px 30px 30px
    background: $white
    border: 1px solid $border-color
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: $border-radius

@import '../blocks/blocks'
@import './pages/mainpage'
@import './pages/rooms'
@import './pages/registerpage'