mixin pagination
    .pagination
        ul.pagination-list
            li.list-item
                a.list-link.list-link--active 1
            li.list-item
                a.list-link 2
            li.list-item
                a.list-link 3
            li.list-item
                a.list-link ...
            li.list-item
                a.list-link 15
            li.list-item
                a.list-link.list-link--next
        span.pagination-text 1 – 12 из 100+ вариантов аренды
