.main-fullscreen
    display: grid
    height: 100vh
    grid-template-rows: auto 1fr

.main-section
    position: relative
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.main-section__item
    position: absolute
    top: 15%

.main-section__text
    position: absolute
    width: 300px
    font-size: 1.4rem
    text-align: right
    right: 10%
    bottom: 5%