.check
    display: inline-block

.check__input
    appearance: none
    &:checked + .check__box
        border: none
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.615234' width='19' height='19' rx='3.5' fill='white' stroke='%23BC9CFF'/%3E%3Cpath d='M6.46439 8.40768L10.707 12.6503L9.29282 14.0645L5.05018 9.82189L6.46439 8.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M13.5355 6.99347L14.9497 8.40768L9.29282 14.0645L7.8786 12.6503L13.5355 6.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12.8284' y1='6.28636' x2='7.1715' y2='11.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='12.8284' y1='6.28636' x2='7.1715' y2='11.9432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
        
.check__label
    display: inline-flex
    align-items: center
    color: $darkshade50
    font-size: 1.4em
    
.check__box
    width: 20px
    height: 20px
    margin-right: 10px
    border: 1px solid $border-color
    border-radius: $border-radius
    background-color: #fff


