mixin expand-checkbox-list(title, list)
    .expand-checkbox-list
        h3.expand-checkbox-list__title #{title}
            span.expand-checkbox-list__icon
        ul.expand-checkbox-list__list
            each item in list
                li.expand-checkbox-list__list-item
                    +checkbox(item)
