mixin footer
    footer.footer
        .footer__main-content
            .container
                .footer-main
                    .footer__logo
                        +logo
                        .footer__about Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    nav.footer__nav
                        ul.footer__list
                            li.footer__list-item
                                h3.footer__nav-headline Навигация
                            li.footer__list-item
                                a.footer__link О нас
                            li.footer__list-item
                                a.footer__link Новости
                            li.footer__list-item
                                a.footer__link Служба поддержки
                            li.footer__list-item
                                a.footer__link Услуги
                    nav.footer__nav
                        ul.footer__list
                            li.footer__list-item
                                h3.footer__nav-headline О нас
                            li.footer__list-item
                                a.footer__link О сервисе
                            li.footer__list-item
                                a.footer__link Наша команда
                            li.footer__list-item
                                a.footer__link Вакансии
                            li.footer__list-item
                                a.footer__link Инвесторы
                    nav.footer__nav
                        ul.footer__list
                            li.footer__list-item
                                h3.footer__nav-headline Служба поддержки
                            li.footer__list-item
                                a.footer__link Соглашения
                            li.footer__list-item
                                a.footer__link Сообщества
                            li.footer__list-item
                                a.footer__link Инвесторы
                    .footer__subs
                        h3.footer__subs-headline подписка
                        .footer__subs-text Получайте специальные предложения и новости сервиса
                        .footer__subs-input
                            +subs-text-field(type="email" placeholder="Email")
        .footer__copy-content
            .container
                .footer-copy
                    .footer-copy__text Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer-copy__icons
                        ul.footer-copy__list
                            li.footer-copy__list-item
                                a.footer-copy__link
                                    span.footer-copy__icon-twitter
                            li.footer-copy__list-item
                                a.footer-copy__link
                                    span.footer-copy__icon-facebook
                            li.footer-copy__list-item
                                a.footer-copy__link
                                    span.footer-copy__icon-inst