extends ../pug/layout.pug

block content
    section.section-reg(style="background-image: url(img/mainbg.png)")
        .container
           .section-reg__content
                .section-reg__reg-item
                    +registr

                    


        