extends ../pug/layout.pug

block content
    .container
        h1 content h1
        h2 content h2
        h3 content h3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti.
        h3.ui-headline TEXT FIELD
        +text-field()(type= "email" placeholder="Email")
        h3.ui-headline checkbox
        +checkbox('My checkbox')
        +checkbox('My checkbox')(checked)
        h3.ui-headline radiobutton
        +radiobtn('My radiobtn')
        +radiobtn('My radiobtn')(checked)
        h3.ui-headline toggle
        +toggle('My toggle')    
        +toggle('My toggle')(checked)     
        h3.ui-headline likebtn
        +likebtn
        +likebtn()(checked)
        h3.ui-headline ratebtn
        +ratebtn(5, 2)
        h3.ui-headline btn
        +btn('btn')
        +btn('btn')(class="b-btn--transparent")
        h3.ui-headline btn-link
        +btn-link('btn')
        h3.ui-headline btn-form
        +btn-form('Перейти к оплате')
        h3.ui-headline range slider
        +slider
        h3.ui-headline pagin
        +pagination        
        h3.ui-headline date-field
        +date-field
        h3.ui-headline date-dropdown
        +date-dropdown
        h3.ui-headline subs-text-field
        +subs-text-field(type="email", placeholder="Email")
        h3.ui-headline ...


