extends ../pug/pages-layout.pug

block content
    section.section-rooms
        .container
            .section-rooms__container
                .section-rooms__settings
                    .section-rooms__slider
                        +slider('диапазон цены')
                        .section-rooms__slider-text Стоимость за сутки пребывания в номере
                    .section-rooms__rules
                        h3.section-rooms__rules-title правила дома
                        +checkbox('Можно курить')
                        +checkbox('Можно с питомцами')
                        +checkbox('Можно пригласить гостей (до 10 человек)')
                .section-rooms__content
                    +room-preview(['./img/2.png', './img/2.png'])

        