extends ../pug/pages-layout.pug

block content
    section.section-rooms
        .container
            .section-rooms__container
                .section-rooms__settings
                    .section-rooms__settings-slider
                        +slider('диапазон цены')
                        .section-rooms__slider-text Стоимость за сутки пребывания в номере
                    .section-rooms__settings-rules
                        h3.section-rooms__settings-title правила дома
                        .section-rooms__settings-rules-checkbox
                            +checkbox('Можно курить')
                        .section-rooms__settings-rules-checkbox
                            +checkbox('Можно с питомцами')
                        .section-rooms__settings-rules-checkbox
                            +checkbox('Можно пригласить гостей (до 10 человек)')
                    .section-rooms__settings-availability
                        h3.section-rooms__settings-title Доступность
                        +rich-checkbox-btns([['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'], ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.']])
                    .section-rooms__settings-other 
                        +expand-checkbox-list('Дополнительные удобства', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
                .section-rooms__content
                    h1.section-rooms__content-title Номера, которые мы для вас подобрали
                    .section-rooms__content-rooms
                        - var i = 0;
                        while i < 13
                            - ++i
                            .section-rooms__content-rooms-item
                                +room-preview(['./img/2.png', './img/2.png'])
                    .section-rooms__content-pagination
                        +pagination
                    


        