extends ../pug/layout.pug

block content
    .container
        h1 content h1
        h2 content h2
        h3 content h3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti.
        h3 TEXT FIELD
        +text-field()(type= "email" placeholder="Email")
        h3 checkbox
        +checkbox('My checkbox')
        h3 radiobutton
        +radiobtn('My radiobtn')
        h3 toggle
        +toggle('My toggle')        
        h3 likebtn
        +likebtn('My likebtn')
        h3 ...


