extends ../pug/layout.pug

block content
    .container
        h1 content h1
        h2 content h2
        h3 content h3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti.
        br
        hr 
        h3 TEXT FIELD
        +text-field()(type= "email" placeholder="Email")
        br
        hr
        h3 checkbox
        br
        +checkbox('My checkbox')
        br
        hr
        h3 radiobutton
        br
        +radiobtn('My radiobtn')
        br
        hr
        h3 dropdown
        br
        +dropdown()


