extends ../pug/layout.pug

block content
    section.section-login(style="background-image: url(img/mainbg.png)")
        .container
           .section-login__content
                .section-login__login-item
                    //- +registr
                    +signin