extends ../pug/layout.pug

block content
    main.main.main-section(style="background-image: url(../img/mainbg.png);")
        .container
                .main-section__item
                    +search-room
                .main-section__text Лучшие номера для вашей работы, отдыха и просто вдохновения
                
                



