mixin dropdown()
    .dropdown
        .dropdown__select
            span Сколько гостей
            i.fas.fa-chevron-down.dropdown__select-icon
        .dropdown__menu
            .dropdown__menu-item
                h3.dropdown__menu-item-title взрослые
                .dropdown__count
                    button.dropdown__count-btn(data-btn="dec") -
                    h3.dropdown__count-title 0
                    button.dropdown__count-btn(data-btn="inc") +
            .dropdown__menu-item
                h3.dropdown__menu-item-title дети
                .dropdown__count
                    button.dropdown__count-btn(data-btn="dec") -
                    h3.dropdown__count-title 0
                    button.dropdown__count-btn(data-btn="inc")  +