.radio
    position: relative
    display: inline-block

.radio__input
    appearance: none
    &:checked + .radio__box-in
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

.radio__label

    
.radio__box
    position: absolute
    width: 20px
    height: 20px
    border-radius: 50%
    background: #fff
    border: 1px solid $primary-color

.radio__box-in
    position: absolute
    width: 12px
    height: 12px
    top: 10px
    left: 10px
    transform: translate(-50%, -50%)
    background-color: #fff
    border-radius: 50%
    z-index: 100

.radio__text



