mixin radiobtn(text)
    .radio
        label.radio__label 
            input.radio__input(type="radio")&attributes(attributes)
            span.radio__box
            span.radio__text #{text}
         
            

        