mixin room
    .room.modal-container
        .room__head
            .room__number
                span.room__number-icon №
                span.room__number-headline 888
                span.room__number-type люкс
            .room__amount
                span.room__amount-text 9 990₽ 
                |в сутки
        form(action="") 
            .room__date
                +date-dropdown
            .room__guests
                h3.search-room__guests-title гости
                +dropdown
            
            ul.room__count-list
                li.room__count-list-item
                    span.room__count-type 9 990₽ х 4 суток
                    span.room__count-amount 39 960₽
                li.room__count-list-item
                    span.room__count-type Сбор за услуги: скидка 2 179₽
                        span.room__count-type-icon 
                    span.room__count-amount 0₽
                li.room__count-list-item
                    span.room__count-type Сбор за дополнительные услуги
                        span.room__count-type-icon 
                    span.room__count-amount 300₽
            .room__total
                h2.room__total-item Итого
                h2.room__total-item 38 081₽
            .room__btn
                +btn-form('Забронировать номер')   