.registr__headline
    margin-bottom: 20px

.registr__user-input
    margin-bottom: 9px

.registr__user-radio
    display: inline-block
    margin-right: 10px

.registr__user-date
    margin: 15px 0

.registr__user-headline
    margin-bottom: 5px

.registr__pay
    margin-top: 15px
    margin-bottom: 25px

.registr__account
    display: flex
    justify-content: space-between

.registr__account 
    align-self: center
    color: #000
    font-size: 1.4rem