mixin likebtn
    .likebtn
        label.likebtn__label 
            input.likebtn__input(type="checkbox")&attributes(attributes)
            span.likebtn__box
                span.likebtn__icon 
                span.likebtn__count 12
