mixin date-dropdown()
    .date-dropdown
        input.date-dropdown__item.date-dropdown__arrival(type="text" placeholder="ДД.ММ.ГГГГ")
        input.date-dropdown__item.date-dropdown__departure(type="text" placeholder="ДД.ММ.ГГГГ")
        .date-dropdown__datepicker
